body {
    background-color: teal;
    font-family: cursive;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

div {
    border: 1px solid wheat;
    color: black;
    font-size: 4rem;
    width: 40%;
    background: radial-gradient(pink, orchid, cyan);
}

p {
    color: black;
    font-size: 6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}